#login-section {
	width: 50%;
	margin: 140px auto;
    width: 379px;
}
#login-section > * {
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #3D3D3D;
}

#login-section h2{
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	color:#1D6154;
}
#login-section form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#login-section input {
	height: 36px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 1em;
}

#login-section a{
    display: block;
    text-align: center;
    margin-top: 1em;
	color: #3d3d3d;
	font-weight: 500;
}

#login-section label {
	margin: 1em 0 1em 0;
}

#login-section textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	margin-top: 50px;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: #0E2F28;
}

#login-section form span {
	display: block;
	margin-top: 1em;
	text-align: center;
}

/** Footer **/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}