/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

body.no-scroll {
	overflow: hidden;
}

.edit-bar {
	align-items: center;
	justify-content: center;
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	height: 59px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	gap: 10px;
}

/** Header **/

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	height: 42px;
}

h1{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size:10px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

nav li {
	padding: 10px 25px;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

nav li a:visited, nav li a {
	color: inherit;
	text-decoration: none;
}

li:hover, li i:hover{
	color: #000000;
	font-weight: 700;
	text-decoration: none;
}

.fa-brands {
	font-size: 22px;
}

/** Main **/

main {
	padding: 0 100px;
}

/** Sections **/

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

section {
	margin: 140px 0
}

/** Introduction **/

#introduction {
	display: flex;
	align-items: center;
	
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: 0px;
	width: 474px;
}

#introduction article {
	flex: 1;
	padding: 0 70px;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.5em;
	width: 404px;
	font-size: 14px;
	font-weight: 400;
}

/** Portfolio **/

#portfolio h2 {
	text-align: center;
	margin-bottom: 1.5em;
}

.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 3.5em;
	gap: 10px;
}

.filters button{
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: white;
	height: 37px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	min-width: 100px;
	padding: 0 10px
}

.filters .filtre-actif{
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.gallery figcaption {
	margin-top: 5px;
}

/** Portfolio mode edition **/

.portfolio-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
	margin-left: 150px;
}

.edit-btn {
	background-color: #FFFFFF;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
	margin-bottom: 3em;;
}

.portfolio-header a{
	color: #000000;
	text-decoration: none;
	display: flex;
	gap: 10px;
	font-family: 'Work Sans';
	font-size: 14px;
	text-align: center;
}

/** Modal **/

.modal1, .modal2 {
	overflow-y: auto;
	display: flex;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
}

.modal-content, .modal2-content {
	display: flex;
	flex-direction: column;
	padding: 20px 0px 0px 0px;
	align-items: center;
	background-color: #FFFFFF;
	width: 630px;
	height: 688px;
	margin:auto;
	border-radius: 10px;
}

.modal-content button.js-modal-close, .modal2-content button.js-modal2-close {
	border: none;
	background-color: #FFFFFF;
	width: 24px;
	height: 24px;
	margin-left: auto;
	margin-right: 40px;
}

.modal2-content button.js-modal-back {
	border: none;
	background-color: #FFFFFF;
	width: 21px;
	height: 21px;
	margin-left: 40px;
	margin-right: auto;
	align-self: flex-start;
}

.modal2-content .close-and-back {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.modal-content i, .modal2-content i {
	font-size: 18px;
	display: flex;
	align-items: center;
}

.modal-content button:active {
	border: none;
	text-decoration: none;
}

.modal-content h1, .modal2-content h1 {
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: #000000;
	margin-top: 15px; 	
}

.gallery-modal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-bottom: #B3B3B3 solid 1px;
	padding: 0px 0px 50px 0px;
	margin-top: 50px;
}

 .img-container img {
	width: 77px;
	height: 103px;
	padding: 0px 5px 25px 5px;
}

.img-container {
	position: relative;
	display: inline-block;
}

.delete-button {
	position: absolute;
	top: 5px;
	right: 10px;
	background: #000000;
	color:#FFFFFF;
	border: none;
	border-radius: 2px; 
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.delete-button i {
	font-size: 10px;
}

.modal-content button.add-photo-button {
	width: 237px;
	height: 36px;
	border: none;
	border-radius: 60px;
	margin-top: 40px ;
	background-color: #1D6154;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content a.js-modal2 {
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Syne';
	font-size: 14px;
}

.modal-content button.add-photo-button:hover {
	background-color: #0E2F28;
}

.modal2-content .add-works-form {
	width: 420px;
	margin: 40px auto 0px auto;
	display: flex;
	flex-direction: column;
	text-align: left;
	border-bottom: #B3B3B3 solid 1px;
	padding-bottom: 30px;
}

.add-works-form .text-input {
	height: 51px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 1em;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 30px;
	color: #6C6C6C;
}

.ajout-photo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	text-align: center;
	font-family: 'Work Sans';
	font-size: 14px;
	color: #B9C5CC;
	margin-bottom: 2em;
	position: relative;
	overflow: hidden;
}

.ajout-photo-container.has-image *:not(img.preview){
	display: none;
}

.ajout-photo-container img.preview {
	max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.ajout-photo-container  i.fa-regular.fa-image {
	width: 76px;
	height: 76px;
	font-size: 68px;
	color: #B9C5CC;
	margin-bottom: 5px;
}



.upload-instructions {
	border: none;
	width: 173px;
	height: 36px;
	background-color: #CBD6DC;
	border-radius: 50px;
	color: #306685;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.photo-format-info {
	margin-top: 10px;
	font-size: 10px;
	color: #444444;
}

#save-changes-button {
	background-color: #A7A7A7;
	font-size: 14px;
	width: 237px;
	height: 36px;
	border: none;
	margin-top: 40px;
	cursor: default;
}

#save-changes-button.enabled {
	background-color: #1D6154;
	cursor: pointer;
}

#save-changes-button.enabled:hover {
	background-color: #0E2F28;
}	

.modal2-content .save-changes-button:hover {
	cursor: pointer;
	background-color: #7A7A7A;
}

/** Contact **/

#contact {
	width: 50%;
	margin: auto;
	width: 379px;
}
#contact > * {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}
#contact h2{
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
}
#contact form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 36px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 1em;
}



#contact label {
	margin: 2em 0 1em 0;
	
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	margin-top: 50px;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: #0E2F28;
}

/** Footer **/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

